* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
}

li {
  list-style: none;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #141414;
  color: white;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
  padding-left: 20px;
}

.header-logo {
  width: 100px;
  height: 13px;
  font-size: 14px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.maintain {
  padding-left: 15px;
}

.menu-item {
  background: transparent;
  padding: 15px 5px;
}

.menu li {
  font-size: 14px;
}

.menu i {
  margin-left: 30px;
}

.menu-item:hover {
  color: #ff7b00;
  background: white;
  padding: 15px 5px;
}

.menu-item-red:hover {
  color: red;
}

.menu-item-red-border:hover {
  color: red;
  border: 1px solid red;
  border-radius: 2px;
}

.menu-item-white:hover {
  color: white;
}

.ikons {
  color: grey;
}

.rates {
  margin-left: 55px;
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px 15px;
}

.enter {
  padding-left: 30px;
}

.videos {
  background-image: url(../img/r0x284x4.webp);
  background-size: cover;
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
}

.poster-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture img {
  margin-left: 40px;
  width: 140px;
  height: 210px;
}

.name-block {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
}

.name-item {
  padding-right: 20px;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.buy {
  color: #0582d6;
}

.movie-title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
}

.solution-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solution {
  margin-right: 20px;
}

.solution-item:hover {
  background: red;
}

.look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  width: 180px;
  height: 45px;
  background: #ff7b00;
}

.look p {
  padding-left: 13px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  font-size: 13px;
  color: #d1c6c6;
  padding-top: 13px;
}

.bars i {
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #d1c6c6;
  width: 80px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.like-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 35px;
  color: #d1c6c6;
}

.like {
  padding-top: 10px;
  padding-right: 20px;
}

.like i {
  font-size: 30px;
  padding-bottom: 5px;
}

.like-down:hover,
.like-down:hover .text {
  color: red;
}

.like-up:hover,
.like-up:hover .text {
  color: green;
}/*# sourceMappingURL=style.css.map */